.contenedorTotalLista {
    display: inline-flex;
    margin-right: 70px;
    margin-bottom: 0%;
}

.menu-lista {
    background-color: rgba(154, 0, 15);
    align-items: flex-start;
    padding: 120px;
    /* margin-top: 0%; */
}

/* .botonesMenuLista{
    width: 150px;
    display: flex;
    clip-path: polygon(100% 0%, 88% 51%, 100% 100%, 0 100%, 0% 50%, 0 0);
    justify-content: center;
    background-color: white;
    padding: 7px 20px;
    color: rgba(154, 0, 15);
    font-size: 15px;
} */
.formularioLista {
    margin: 40px 0px 40px 40px;
}

.divLista {
    background-color: rgba(154, 0, 15);
    text-align: center;
    color: white;
    padding: 25px;
}

.tittleLista {
    font-size: 45px;
}

.contentLista {
    padding: 50px;
    background-color: darkgray;
}

.btn-submit {
    width: 120px;
    height: 30px;
    border-radius: 6px;
    font-size: 18px;
    padding: 0px 15px;
    background-color: rgba(255, 102, 0);
    color: white;
    outline: none;
    border: none;
}

.items-tareas {
    display: inline-block;
    margin-right: 10px;
    padding-bottom: 10px;

}

.tittle-items {
    font-size: 35px;
}

input {
    height: 20px;
    width: 18px;
    margin: 10px;
}


/* Styles for screens smaller than 768px */

@media (min-width: 320px) and (max-width: 1024px) {
    .contenedorTotalLista {
        flex-direction: column;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 0;
    }

    .menu-lista {
        display: none;
    }

    .formularioLista {
        margin: 20px 0;
    }

    .divLista {
        padding: 15px;
        margin-bottom: 20px;
        margin-top: -40px;
    }

    .contentLista {
        padding: 30px;
    }

    .btn-submit {
        width: 100%;
        margin-top: 20px;
    }

    .items-tareas {
        display: block;
        margin-right: 0;
        padding-bottom: 10px;
    }

    .tittle-items {
        font-size: 25px;
    }

    input[type="checkbox"] {
        margin: 5px;
    }
}

/* Styles for screens between 768px and 992px */
/* @media (min-width: 768px) and (max-width: 992px) {
    .menu-lista {
        padding: 20px;
    }
} */

/* Styles for screens larger than 992px */
/* @media (min-width: 992px) {
    .menu-lista {
        padding: 30px;
    }
} */

/*Media querys header*/

@media only screen and (min-width:320px) and (max-width:1024px) {

    .menuRecetas,
    .btnMenuR {
        line-height: 55px;
    }

    .usuarioRecetas {
        position: relative;
        top: -15px;
    }

    .logo1Recetas {
        height: 55px;
        width: 55px;
    }

    .headerRecetas {
        height: 65px;
    }

    .menuRecetas {
        position: absolute;
        background-color: rgb(119, 0, 12);
        width: 100%;
        height: 100vh;
        top: 65px;
        left: 0;
        transition: all 500ms ease;
        transform: translateX(-100%);
    }

    #btnMenu:checked~.menuRecetas {
        transform: translateX(0);
    }

    .menuRecetas a {
        display: block;
        margin-top: 5px;
    }

    .btnMenuR {
        display: block;
        padding-right: 10px;
    }
}

/* Media querys footer*/

@media only screen and (min-width:320px) and (max-width:1024px) {

    .footerLogin {
        height: 80px;
        grid-template: 80px / 50px 1fr 80px;
        bottom: 0;
    }

    .footerLogin p {
        font-size: 10px;
        margin: 5px;
    }

    .logo1SenaLogin {
        height: 50px;
        width: 50px;
        margin: 2px;
    }

    .logo3Login {
        height: 65px;
        width: 65px;
        margin-left: auto;
    }

}