*{
    margin: 0px;
    font-family: Calibri;
    padding: 0px;
    text-decoration: none;
}

.container{
    width: 100%;

}

.div1{
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.div2{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
    align-items: center;
    justify-content: center;
}

.div3{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    overflow: auto;
}

.divHeader{
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    display: flex;
    justify-content: space-between;
}

.buscador input{
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    padding: 4px;
}

.buscador button{
    border-radius: 6px;
    color: rgba(255, 255, 255);
    background-color: rgba(255, 102, 0);
    border: none;
    height: 28px;
    margin: 10px;
    padding: 0px 5px 0px 5px;
    transition: all 500ms ease-out;
}

.buscador button:hover{
    background-color: rgb(200, 80, 0);
}

.titulo{
    font-size: 24px;
    color: rgba(154, 0, 15);
    line-height: 50px;
}

.divBody{
    display: grid;
    padding: 1rem 1rem;
    grid-template: 120px / repeat(8 1fr) minmax(150px 200px);
}

.table{
    margin: 20px;
    height: 150px;
    align-items: center;
    justify-content: center;
}

.table thead tr th{
    border-bottom: 1px solid black;
    padding: 10px;
    text-align: center;
}

.tabletbody tr td{
    flex-shrink: 1;
    padding: 10px;
}

.crud-form{
    display: flex;
}

.btnEliminar{
    background-color: rgba(154, 0, 15);
    color: rgba(255, 255, 255);
    border-radius: 6px;
    font-size: 15px;
    padding: 8px;
    border: none;
    transition: all 500ms ease-out;
    height: 1%;
    margin: 5px;
}

.btnEditar{
    background-color: rgba(255, 102, 0);
    color: rgba(255, 255, 255);
    border-radius: 6px;
    font-size: 15px;
    padding: 8px;
    border: none;
    text-decoration: none;
    transition: all 500ms ease-out;
    margin: 5px;
    
}

.btnEliminar:hover{
    background-color: rgb(96, 0, 10);
}

.btnEditar:hover{
    background-color: rgba(200, 80, 0);
    color: rgba(255, 255, 255);
}

