.tittle{
    background-color: firebrick ;
    text-align: center;
    color: white;
    padding: 10px;
  
    
}
.btn-submit{
    width: 120px;
    height: 30px;
    border-radius: 6px;
    font-size: 18px;
    padding: 0px 15px;
    border: 2px solid rgba(154, 0, 15);
    background: transparent;
    color: rgba(0, 0, 0);
    outline: none; 
} 
.items-tareas{
    display: inline-block;
  margin-right: 10px; 
  padding-bottom: 10px;
}

.tittle-items{
    font-size: 35px;
}

input{
    height: 20px;
    width: 18px;
}
.content{
    background-color: darkgray;
}