* {
    margin: 0px;
    font-family: Calibri;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

.contenedorLogin {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template: 120px 1fr 1fr/ 100%;
}

/*Header css*/

.headerIndex {
    background-color: rgba(154, 0, 15);
    width: 100%;
    height: 110px;
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    padding: 5px;
}

.contenedorHIndex {
    width: 98%;
}

.logoHIndex {
    height: 100px;
    width: 100px;
    background-color: rgba(255, 255, 255);
    border-radius: 50%;
    float: left;
    margin-left: 10px;
    object-fit: cover;
}

.NombreProyectoLogin {
    float: left;
    height: 100px;
    width: 100px;
    padding-left: 20px;
    color: rgba(255, 255, 255);
    line-height: 100px;
}

.menuHIndex {
    float: right;
    line-height: 100px;
}

.menuHIndex a {
    color: rgba(255, 255, 255);
    padding: 15px;
    display: inline-block;
    line-height: normal;
    font-size: 16px;
    transition: all 500ms ease;
    border-bottom: 4px solid transparent;
}

.menuHIndex a:hover {
    color: rgba(255, 102, 0);
    border-bottom: 4px solid rgba(255, 102, 0);
}

#btnMenu {
    display: none;
}

.btnMenuHIndex {
    float: right;
    display: none;
}

.btnMenuHIndex label {
    background-color: rgba(255, 102, 0);
    padding: 5px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    color: rgba(255, 255, 255);
    transition: all 500ms ease;
}

/*contenedor1Login css*/

.contenedorFormLogin {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.contenedor1Login {
    display: grid;
    grid-template: 150px 500px / 1fr 1fr;
    justify-content: center;
    border-radius: 20px;
    background-color: rgba(217, 217, 217);
    width: 100%;
    margin-top: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}

.tituloFormLogin {
    grid-column: 1 / span 2;
    margin: 20px;
    background-color: rgba(154, 0, 15);
    height: 80px;
    border-radius: 20px;
    text-align: center;
    color: rgba(255, 255, 255);
    line-height: 80px;
}

.formularioLogin {
    display: grid;
    margin: 20px;
    justify-items: center;
}

.contenedor1Login img {
    height: 450px;
    width: 500px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 10px 30px 10px 10px;
}

.form2Login {
    position: relative;
}

.form2Login input,
.form1Login select {
    width: 350px;
    height: 60px;
    border-radius: 6px;
    font-size: 18px;
    padding: 0px 15px;
    border: 2px solid rgba(154, 0, 15);
    background: transparent;
    color: rgba(0, 0, 0);
    outline: none;
}

.form1Login select:focus {
    border: 2px solid rgba(255, 102, 0);
}

.form2Login label {
    position: absolute;
    top: 15%;
    left: 15px;
    transform: translateY(-15%);
    color: rgba(0, 0, 0);
    font-size: 19px;
    pointer-events: none;
    transition: .3s;
}

.form2Login input::-webkit-inner-spin-button,
.form2Login input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form2Login input:focus {
    border: 2px solid rgba(255, 102, 0);
}

.form2Login input:focus~label,
.form2Login input:valid~label {
    top: -10px;
    font-size: 16px;
    padding: 0px 15px;
    background-color: rgba(217, 217, 217);
}

.btn1Login {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    justify-items: center;
    width: 100%;
}

.btn1Login a,
.enviarLogin {
    height: 50px;
    width: 150px;
    color: rgba(255, 255, 255);
    background-color: rgba(154, 0, 15);
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0);
    transition: all 500ms ease;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
}

.btn1Login a:hover {
    background-color: rgba(255, 102, 0);
    cursor: pointer;
}

.btn1Login .enviarLogin:hover {
    background-color: rgba(255, 102, 0);
    cursor: pointer;
}

/*Footer css*/
/* cambio en el position: absolute */

.footerLogin {
    height: 160px;
    /* position: fixed; */
    background-color: rgba(217, 217, 217);
    border-top: 1px solid black;
    display: grid;
    grid-template: 160px / 110px 1fr 150px;
    align-items: center;
    width: 100%;
}

.footerLogin p {
    font-size: 25px;
    text-align: left;
    margin: 20px;
}

.logo1SenaLogin {
    height: 100px;
    width: 100px;
    margin: 10px;
}

.logo3Login {
    height: 140px;
    width: 140px;
    background-color: rgba(255, 255, 255);
    border-radius: 50%;
    object-fit: cover;
}

/*Media querys footer*/

@media only screen and (min-width:320px) and (max-width:1024px) {

    .footerLogin {
        height: 80px;
        grid-template: 80px / 50px 1fr 80px;
        bottom: 0;
    }

    .footerLogin p {
        font-size: 10px;
        margin: 5px;
    }

    .logo1SenaLogin {
        height: 50px;
        width: 50px;
        margin: 2px;
    }

    .logo3Login {
        height: 65px;
        width: 65px;
    }

}

/*Media querys contenedor1Login*/

@media only screen and (min-width:320px) and (max-width:1024px) {

    .contenedor1Login img {
        display: none;
    }

    .contenedorFormLogin {
        min-width: 320px;
        max-width: 768px;
    }

    .contenedor1Login {
        grid-template: 100px 350px / 1fr;
    }

    .formularioLogin {
        margin: 10px;
    }

    .tituloFormLogin {
        margin: 10px;
        height: 65px;
        line-height: 65px;
    }

    .form2Login input,
    .form1Login select {
        width: 250px;
        height: 45px;
        font-size: 12px;
    }

    .form2Login label {
        font-size: 13px;
    }

    .form2Login input:focus~label,
    .form2Login input:valid~label {
        top: -6px;
        font-size: 11px;
    }

    .btn1Login a,
    .enviarLogin {
        height: 40px;
        width: 100px;
        font-size: 13px;
        line-height: 40px;
    }

}

/*Media querys header*/

@media only screen and (min-width:320px) and (max-width:1024px) {

    .menuHIndex,
    .btnMenuH1 {
        line-height: 65px;
    }

    .logoHIndex {
        height: 65px;
        width: 65px;
    }

    .NombreProyectoLogin {
        line-height: 65px;
    }

    .headerIndex {
        height: 75px;
    }

    .menuHIndex {
        position: absolute;
        background-color: rgb(119, 0, 12);
        width: 100%;
        height: 100vh;
        top: 75px;
        left: 0;
        transition: all 500ms ease;
        transform: translateX(-100%);
    }

    #btnMenu:checked~.menuHIndex {
        transform: translateX(0);
    }

    .menuHIndex a {
        display: block;
        margin-top: 10px;
    }

    .btnMenuHIndex {
        display: block;
        padding-right: 10px;
        line-height: 60px;
    }
}

@media only screen and (min-width:0px) and (max-width:320px) {
    * {
        display: none;
    }
}

/* clases para ver la contraseña */

.toggle-password {
    position: absolute;
    top: 28%;
    right: 15px;

    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    /* Asegura que el icono esté sobre el input */
}